:root {
  /* Font */
  /* Font ideas from https://www.quicksprout.com/best-font-for-website/ */
  /* Font sources: https://fonts.google.com/specimen/Raleway and https://fonts.google.com/specimen/Cinzel */
  --font-family-headings: "Asar", serif; /* Top-level categories: bold 900 (black); Menu items: bold 700 (bold)*/
  --font-family-paragraph: "Asar", serif;

  /* Color - Source: https://www.happyhues.co/palettes/3 */
  --color-primary: #f9f4ef;
  --color-paragraph: #716040;
  --color-secondary1: #eaddcf;
  --color-secondary1-headline: #020826;
  --color-secondary1-sub-headline: #716040;
  --color-secondary1-stroke: #020826;
  --color-highlight: #8c7851;
  --color-tertiary: #f25042; /*rgb(242, 80, 66)*/

  /* Size */
  --header-height: 55px;
  --header-height-adjust-ratio: 1;
  --content-width: 97vw;
  --content-width-max: 750px;
  --font-size-main: 1.2em;
  --font-size-heading-step: 0.1625;
  --padding-content-box: 0.5em;
  --padding-input: 0.625em;
}

html {
  box-sizing: border-box;
  scroll-padding-top: calc(
    var(--header-height) * var(--header-height-adjust-ratio)
  );
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-paragraph);
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-main);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.content-container {
  width: 100%;
}

.header {
  padding: var(--padding-content-box);
  position: fixed;
  width: 100%;
  z-index: 10;
  height: calc(var(--header-height) * var(--header-height-adjust-ratio));
}

.header,
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-secondary1);
}

.header .company-logo-icon {
  height: 32px;
  width: 141px;
}

.nav-bar {
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
}

.nav-link {
  color: var(--color-secondary1-headline);
  font-family: var(--font-family-headings);
  font-weight: 900;
  font-size: calc(var(--font-size-main) * (var(--font-size-heading-step) * 5));
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-content-box);
  margin-top: calc(var(--header-height) * var(--header-height-adjust-ratio));
}

.main__headline {
  text-align: center;
}

.form-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__headline input {
  font-family: var(--font-family-paragraph);
  padding: var(--padding-input);
  background-color: var(--color-primary);
  color: var(--color-paragraph);
  border-color: var(--color-secondary1-stroke);
  border-radius: calc(var(--padding-input) / 2);
  width: 100%;
  max-width: 60%;
}

.form-sign-up .accent-icon {
  margin-left: calc(var(--padding-input) / 2);
}

.main__headline input.input-button {
  background-color: var(--color-highlight);
  color: var(--color-primary);
  padding: var(--padding-input);
  border: none;
  border-radius: calc(var(--padding-input) / 2);
  margin-left: var(--padding-input);
  width: auto;
}

.accent-icon {
  /* Ways to color SVG dynamically:
  * Add colors to SVG file: http://andresgalante.com/RGBAtoFeColorMatrix/ - along with this implementation: https://stackoverflow.com/a/54000884/2033465
    * filter: url(#colorChange); #colorChange references filter id in ./assets/tea-cup-logo.svg.
  * Convert hex color to filter: use https://codepen.io/sosuke/pen/Pjoqqp to generate a filter - along with this implementation: https://stackoverflow.com/a/43960991/2033465
  
  * The first option didn't work, likely due to webpack processing--will look that at later.
    The second option had an imprecise color conversion.
    Therefore, I decided to set the fill color in the svg file.
  */
  height: 32px;
  width: 32px;
}

.iframe-responsive-wrapper--16x9 {
  position: relative;
  max-height: calc(var(--content-width-max * 0.5625));
  left: 50%;
  transform: translateX(-50%);
  width: var(--content-width);
  max-width: calc(var(--font-size-main) * 21);
}

/* Just for fun: apply Fibonacci Sequence to h1 and h2, then 15% smaller from there 
  This would be a good place to use SCSS mixin, sqrt function */
h1 {
  font-size: calc(var(--font-size-main) * (var(--font-size-heading-step) * 13));
}
h2 {
  font-size: calc(var(--font-size-main) * (var(--font-size-heading-step) * 8));
}
h3,
h4,
h5,
h6 {
  --size-step: 0.85;
}
h3 {
  font-size: calc(
    var(--font-size-main) *
      (var(--font-size-heading-step) * (8 * var(--size-step)))
  );
}
h4 {
  font-size: calc(
    var(--font-size-main) *
      (
        var(--font-size-heading-step) *
          (8 * var(--size-step) * var(--size-step))
      )
  );
}
h5 {
  font-size: calc(
    var(--font-size-main) *
      (
        var(--font-size-heading-step) *
          (8 * var(--size-step) * var(--size-step) * var(--size-step))
      )
  );
}
h6 {
  font-size: calc(
    var(--font-size-main) *
      (
        var(--font-size-heading-step) *
          (
            8 * var(--size-step) * var(--size-step) * var(--size-step) *
              var(--size-step)
          )
      )
  );
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: bold;
  color: var(--color-secondary1-headline);
}

@media (max-width: 750px) {
  :root {
    --header-height-adjust-ratio: 1.65;
    --font-size-heading-step: 0.15;
  }

  .header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .main__headline input {
    max-width: 65%;
  }
}
